body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-top: 230px;
}

svg {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
