@import './utils/visually-hidden';

// Version1

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid $theme-orange;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid $theme-orange;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid $theme-orange;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

// Version 2

.spiner-container {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 40px);
  width: 80px;
  height: 100px;
}

.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: $theme-orange;
}

.block:nth-child(4n + 1) {
  animation: wave 2s ease 0s infinite;
}
.block:nth-child(4n + 2) {
  animation: wave 2s ease 0.2s infinite;
}
.block:nth-child(4n + 3) {
  animation: wave 2s ease 0.4s infinite;
}
.block:nth-child(4n + 4) {
  animation: wave 2s ease 0.6s infinite;
  margin-right: 0;
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

// Version3

.spin-wrapper {
  .spinnerV3 {
    position: absolute;
    height: 60px;
    width: 60px;
    border: 3px solid transparent;
    border-top-color: #a04668;
    top: 50%;
    left: 50%;
    margin: -30px;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    &:before,
    &:after {
      content: '';
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }

    &:before {
      border-top-color: #254e70;
      top: -12px;
      left: -12px;
      right: -12px;
      bottom: -12px;
      animation: spin 3s linear infinite;
    }

    &:after {
      border-top-color: #009b00;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      animation: spin 4s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Version4

.spinnerV4 {
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff6b08, 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.5), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.7), 1.8em -1.8em 0 0em #ff6b08,
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.5), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.7),
      2.5em 0em 0 0em #ff6b08, 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.5),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.7), 1.75em 1.75em 0 0em #ff6b08,
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.5), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.7),
      0em 2.5em 0 0em #ff6b08, -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.5),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.7), -1.8em 1.8em 0 0em #ff6b08,
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.5), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.7),
      -2.6em 0em 0 0em #ff6b08, -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.5),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.7), -1.8em -1.8em 0 0em #ff6b08;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ff6b08, 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.5), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.7), 1.8em -1.8em 0 0em #ff6b08,
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.5), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.7),
      2.5em 0em 0 0em #ff6b08, 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.5),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.7), 1.75em 1.75em 0 0em #ff6b08,
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.5), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.7),
      0em 2.5em 0 0em #ff6b08, -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.2),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.5),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.7), -1.8em 1.8em 0 0em #ff6b08,
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.2), -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.5), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.7),
      -2.6em 0em 0 0em #ff6b08, -1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 107, 8, 0.2), 1.8em -1.8em 0 0em rgba(255, 107, 8, 0.2),
      2.5em 0em 0 0em rgba(255, 107, 8, 0.2), 1.75em 1.75em 0 0em rgba(255, 107, 8, 0.2),
      0em 2.5em 0 0em rgba(255, 107, 8, 0.2), -1.8em 1.8em 0 0em rgba(255, 107, 8, 0.5),
      -2.6em 0em 0 0em rgba(255, 107, 8, 0.7), -1.8em -1.8em 0 0em #ff6b08;
  }
}

// Version5

.center {
  top: calc(50% - 50px);
  left: calc(50% - 120px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, rgb(0, 99, 99), rgb(190, 5, 5));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

// Version6

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #a7a7a7;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #ff6b08;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ff6b08;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 104%;
  height: 104%;
  border: 4px solid transparent;
  border-top: 4px solid #ff6b08;
  border-right: 4px solid #ff6b08;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.spV6Box {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.spV6Box:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff6b08;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #ff6b08;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

// Version7

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$dark: rgba(0, 0, 0, 0.8);
#no-freeze-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.1s linear;
  opacity: 0;
  transform: scale(10);
  z-index: -1;
  background: $dark;
}
.no-freeze-spinner #no-freeze-spinner {
  z-index: 9999;
  opacity: 0.5;
  transform: scale(1);
}
#no-freeze-spinner > div > div {
  animation-play-state: paused;
  border: 5px solid rgba(200, 200, 200, 1);
  border-radius: 50%;
  animation: rotate 1s infinite linear;
  border-left-color: rgba(200, 200, 200, 0.4);
  width: 100%;
  height: 100%;
}
#no-freeze-spinner > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 5px $dark;
  width: 60px;
  height: 60px;
  padding: 5px;
}
.no-freeze-spinner #no-freeze-spinner div div {
  animation-play-state: running;
}
@keyframes loadicons {
  0% {
    transform: scale(0) translate3d(0, 0, 0);
  }
  11% {
    transform: scale(1.2) translate3d(0, 0, 0);
  }
  22% {
    transform: scale(1) translate3d(0, 0, 0);
  }
  33% {
    transform: scale(0) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.no-freeze-spinner #no-freeze-spinner i {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: $dark;
  width: 24px;
  height: 24px;
  line-height: 1;
  transform: scale(0) translate3d(0, 0, 0);
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(1) {
  animation: loadicons 3s infinite ease-in-out;
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(2) {
  animation: loadicons 3s 1s infinite ease-in-out;
}
.no-freeze-spinner #no-freeze-spinner i:nth-of-type(3) {
  animation: loadicons 3s 2s infinite ease-in-out;
}
