.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: $backdrop-background;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms $transition-cubic, visibility 250ms $transition-cubic;

  overflow-y: scroll;

  .modal-team {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    // max-height: 958px;
    max-width: 280px;

    padding: 15px 10px 0 0;
    background-color: $modal-background;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms $transition-cubic, opacity 250ms $transition-cubic;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      // top: 50%;
      // max-height: 562px;
      max-width: 618px;
      padding: 15px 0 0 10px;
    }

    @media screen and (min-width: 1024px) {
      // top: 50%;
      // max-height: 568px;
      max-width: 882px;
      padding: 15px 25px 0 10px;
    }
  }
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal-team {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
}

.modal-team {
  .modal-team__btn-close {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    background-color: $modal-background;
    cursor: pointer;
    fill: #000000;
    transition: fill 250ms $transition-cubic;
  }

  .modal-team__icon-close {
    display: block;
    width: 100%;
  }

  .modal-team_form-order {
    display: flex;
    flex-direction: column;
  }
}

.modal-team__btn-close {
  &:hover,
  &:focus {
    fill: #ff6b01;
  }
}

body.modal-team-open {
  overflow: hidden;
}

.modal-team__header {
  text-align: center;
}

.modal-team__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  // min-width: 280px;
  background-color: $background-main-container;
  padding-top: 15px;
  // margin-left: -15px;
}

.modal-team__item {
  margin-bottom: 10px;
  border-radius: 4px;
  display: block;
  list-style: none;
  flex-basis: calc(100% / 2 - 10px);
  margin-left: 10px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 4 - 15px);
  }

  @media screen and (min-width: 1024px) {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.modal-team__item:hover,
.modal-team__item:focus {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 107, 8, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(255, 107, 8, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(255, 107, 8, 0.2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-team__wrapper {
  cursor: pointer;
  object-fit: cover;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 5px;
}

.modal-team__wrapper img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.modal-team__datails {
  display: flex;
  align-items: center;
  // justify-content: center;
  color: $theme-orange;
  margin-left: 5px;
  margin-bottom: 5px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.modal-team__separator {
  margin-right: 5px;
  display: none;

  @media screen and (min-width: 1024px) {
    display: inline-block;
  }
}

.modal-team__name {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.333;
  margin: 10px 0 0 5px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.modal-team__element {
  font-family: Roboto, sans-serif;
  margin-right: 2px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.333;

  @media screen and (min-width: 768px) {
    font-size: 11px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 12px;
  }
}

.modal-team__work {
  margin-right: 9px;
  @media screen and (min-width: 768px) {
    margin-right: 23px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 0;
  }
}

.modal-team__git {
  cursor: pointer;
  margin-left: auto;
  padding: 0px 5px 0px 0px;
}

.modal-team__icon-git {
  margin-top: 10px;
  &:hover,
  &:focus {
    fill: $theme-orange;
  }
}

.modal-team__bio {
  display: flex;
}
