
  $white: #ffffff;
  $black: #000000;
  $logo-icon-grey: #818181;
  $theme-orange: #ff6b08;
  $background-footer-pagination: #f7f7f7;
  $footer-text: #545454;
  $error-notification: #ff001b;
  $background-under-image: rgba(0, 0, 0, 0.56);
  $background-main-container:#f7f7f7;

