<div class="container" style="background-color: rgb(20, 141, 255); padding: 20px;">
    <button class="button button--current" type="submit">add to Watched</button>
    <button class="button button--white" type="submit">add to queue</button>
    <button class="button button--black" type="submit">add to queue</button>
    <button class="button button--current" type="submit">Watched</button>
    <button class="button button--white" type="submit">queue</button>
    <button class="button button--black" type="submit">queue</button>
    <svg class="header__icon-film" width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
    </svg>
    <svg class="header__icon-heart" width="14" height="12.88">
        <use href="./images/sprite.svg#icon-heart"></use>
    </svg>
    <svg class="header__icon-search" width="12" height="12">
        <use href="./images/sprite.svg#icon-search"></use>
    </svg>
    <svg class="modal__icon-close" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
    </svg>
</div>