<article class="example">
  <footer class="footer-color">
    <div class="flex-footer container">
      <p class="creator">&#169; 2020 | All Rights Reserved |&nbsp;</p>
      <div class="flex-mobile">
        <p class="creator">Developed with</p>
        <svg class="icon-heard" width="14" height="14">
          <use href="./images/heard.svg#icon-heard"></use>
        </svg>
        <p class="creator">by</p>
        <button type="button" class="developed">GoIT Students</button>
      </div>
    </div>
  </footer>
</article>
