<header class="header header__index">
  <a name="top"></a>
  <!-- <div class="header-relative"> -->
  <div class="container">
    <div class="header__wrapper">
      <a class="header-logo link">
        <svg
          class="icon-film header-logo__icon-film header-logo__icon-film--start"
          width="24"
          height="24"
        >
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-logo__site-name">Filmoteka</span>
      </a>
      <ul class="header-nav header-nav--pos list">
        <li class="header-nav__item">
          <a class="header-nav__item--current-link-color link js-nav-btn-home">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__item--link-color link js-nav-btn-library" href="#">my library</a>
        </li>
      </ul>
    </div>
    <div class="search-form-wrapper">
      <form class="search-form">
        <label class="search-form__label search-form__label--pos" for="search-film-input"
          >Поиск фильмов</label
        >
        <input class="search-form__input" name="search-film-input" id="search-film-input" />
        <button
          class="search-form__button search-form__button--pos search-button-js"
          type="submit"
          aria-label="Поиск фильмов"
        >
          <svg class="search-form__button-icon-search" width="12" height="12">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <!-- </div> -->
</header>
