<header class="header header__lib is-hidden">
  <!-- <div class="header-relative"> -->
  <div class="container">
    <div class="header-wrapper">
      <div class="header__wrapper">
        <a class="header-logo header-logo--hover link" href="./index.html">
          <svg class="header-logo__icon-film header-logo__icon-film--start icon-film" width="24" height="24">
            <use href="./images/sprite.svg#icon-film"></use>
          </svg>
          <span class="header-logo__site-name">Filmoteka</span>
        </a>
        <ul class="header-nav header-nav--pos list">
          <li class="header-nav__item">
            <a class="header-nav__item--link-color link" href="./index.html">Home</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__item--current-link-color link">my library</a>
          </li>
        </ul>
      </div>
      <ul class="header-buttons header-buttons__list list">
        <li class="header-buttons__item">
          <button
            class="button button--white button--orange js-button-watched-library"
            type="submit"
          >
            Watched
          </button>
        </li>
        <li class="header-buttons__item">
          <button class="button button--white js-button-queue-library" type="submit">queue</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</header>
