<section class="main-section">
    <div class="container">
    <ul class=" main-container">

        <li class="card">
           
            <a href="" >
                <picture>
                    <source srcset="./images/exp-desk.jpg    1x
                                      
                                      " media="(min-width: 1200px)" />
                     <source srcset="
                                        ./images/exp-tablet.jpg   1x
                                      
                                      " media="(min-width: 768px)" />
                    
                    <source srcset="
                                        ./images/exp-mobile.jpg    1x
                                    
                                      " media="(max-width: 767px)" />
                    <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                </picture>
            </a>
            </li>
            <li class="card">
           
                <a href="" >
                    <picture>
                        <source srcset="./images/exp-desk.jpg    1x
                                          
                                          " media="(min-width: 1200px)" />
                         <source srcset="
                                            ./images/exp-tablet.jpg   1x
                                          
                                          " media="(min-width: 768px)" />
                        
                        <source srcset="
                                            ./images/exp-mobile.jpg    1x
                                        
                                          " media="(max-width: 767px)" />
                        <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                    </picture>
                </a>
                </li> <li class="card">
           
                    <a href="" >
                        <picture>
                            <source srcset="./images/exp-desk.jpg    1x
                                              
                                              " media="(min-width: 1200px)" />
                             <source srcset="
                                                ./images/exp-tablet.jpg   1x
                                              
                                              " media="(min-width: 768px)" />
                            
                            <source srcset="
                                                ./images/exp-mobile.jpg    1x
                                            
                                              " media="(max-width: 767px)" />
                            <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                        </picture>
                    </a>
                    </li> <li class="card">
           
                        <a href="" >
                            <picture>
                                <source srcset="./images/exp-desk.jpg    1x
                                                  
                                                  " media="(min-width: 1200px)" />
                                 <source srcset="
                                                    ./images/exp-tablet.jpg   1x
                                                  
                                                  " media="(min-width: 768px)" />
                                
                                <source srcset="
                                                    ./images/exp-mobile.jpg    1x
                                                
                                                  " media="(max-width: 767px)" />
                                <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                            </picture>
                        </a>
                        </li> <li class="card">
           
                            <a href="" >
                                <picture>
                                    <source srcset="./images/exp-desk.jpg    1x
                                                      
                                                      " media="(min-width: 1200px)" />
                                     <source srcset="
                                                        ./images/exp-tablet.jpg   1x
                                                      
                                                      " media="(min-width: 768px)" />
                                    
                                    <source srcset="
                                                        ./images/exp-mobile.jpg    1x
                                                    
                                                      " media="(max-width: 767px)" />
                                    <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                </picture>
                            </a>
                            </li> <li class="card">
           
                                <a href="" >
                                    <picture>
                                        <source srcset="./images/exp-desk.jpg    1x
                                                          
                                                          " media="(min-width: 1200px)" />
                                         <source srcset="
                                                            ./images/exp-tablet.jpg   1x
                                                          
                                                          " media="(min-width: 768px)" />
                                        
                                        <source srcset="
                                                            ./images/exp-mobile.jpg    1x
                                                        
                                                          " media="(max-width: 767px)" />
                                        <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                    </picture>
                                </a>
                                </li> <li class="card">
           
                                    <a href="" >
                                        <picture>
                                            <source srcset="./images/exp-desk.jpg    1x
                                                              
                                                              " media="(min-width: 1200px)" />
                                             <source srcset="
                                                                ./images/exp-tablet.jpg   1x
                                                              
                                                              " media="(min-width: 768px)" />
                                            
                                            <source srcset="
                                                                ./images/exp-mobile.jpg    1x
                                                            
                                                              " media="(max-width: 767px)" />
                                            <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                        </picture>
                                    </a>
                                    </li> <li class="card">
           
                                        <a href="" >
                                            <picture>
                                                <source srcset="./images/exp-desk.jpg    1x
                                                                  
                                                                  " media="(min-width: 1200px)" />
                                                 <source srcset="
                                                                    ./images/exp-tablet.jpg   1x
                                                                  
                                                                  " media="(min-width: 768px)" />
                                                
                                                <source srcset="
                                                                    ./images/exp-mobile.jpg    1x
                                                                
                                                                  " media="(max-width: 767px)" />
                                                <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                            </picture>
                                        </a>
                                        </li> <li class="card">
           
                                            <a href="" >
                                                <picture>
                                                    <source srcset="./images/exp-desk.jpg    1x
                                                                      
                                                                      " media="(min-width: 1200px)" />
                                                     <source srcset="
                                                                        ./images/exp-tablet.jpg   1x
                                                                      
                                                                      " media="(min-width: 768px)" />
                                                    
                                                    <source srcset="
                                                                        ./images/exp-mobile.jpg    1x
                                                                    
                                                                      " media="(max-width: 767px)" />
                                                    <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                </picture>
                                            </a>
                                            </li> <li class="card">
           
                                                <a href="" >
                                                    <picture>
                                                        <source srcset="./images/exp-desk.jpg    1x
                                                                          
                                                                          " media="(min-width: 1200px)" />
                                                         <source srcset="
                                                                            ./images/exp-tablet.jpg   1x
                                                                          
                                                                          " media="(min-width: 768px)" />
                                                        
                                                        <source srcset="
                                                                            ./images/exp-mobile.jpg    1x
                                                                        
                                                                          " media="(max-width: 767px)" />
                                                        <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                    </picture>
                                                </a>
                                                </li> <li class="card">
           
                                                    <a href="" >
                                                        <picture>
                                                            <source srcset="./images/exp-desk.jpg    1x
                                                                              
                                                                              " media="(min-width: 1200px)" />
                                                             <source srcset="
                                                                                ./images/exp-tablet.jpg   1x
                                                                              
                                                                              " media="(min-width: 768px)" />
                                                            
                                                            <source srcset="
                                                                                ./images/exp-mobile.jpg    1x
                                                                            
                                                                              " media="(max-width: 767px)" />
                                                            <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                        </picture>
                                                    </a>
                                                    </li> <li class="card">
           
                                                        <a href="" >
                                                            <picture>
                                                                <source srcset="./images/exp-desk.jpg    1x
                                                                                  
                                                                                  " media="(min-width: 1200px)" />
                                                                 <source srcset="
                                                                                    ./images/exp-tablet.jpg   1x
                                                                                  
                                                                                  " media="(min-width: 768px)" />
                                                                
                                                                <source srcset="
                                                                                    ./images/exp-mobile.jpg    1x
                                                                                
                                                                                  " media="(max-width: 767px)" />
                                                                <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                            </picture>
                                                        </a>
                                                        </li> <li class="card">
           
                                                            <a href="" >
                                                                <picture>
                                                                    <source srcset="./images/exp-desk.jpg    1x
                                                                                      
                                                                                      " media="(min-width: 1200px)" />
                                                                     <source srcset="
                                                                                        ./images/exp-tablet.jpg   1x
                                                                                      
                                                                                      " media="(min-width: 768px)" />
                                                                    
                                                                    <source srcset="
                                                                                        ./images/exp-mobile.jpg    1x
                                                                                    
                                                                                      " media="(max-width: 767px)" />
                                                                    <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                </picture>
                                                            </a>
                                                            </li> <li class="card">
           
                                                                <a href="" >
                                                                    <picture>
                                                                        <source srcset="./images/exp-desk.jpg    1x
                                                                                          
                                                                                          " media="(min-width: 1200px)" />
                                                                         <source srcset="
                                                                                            ./images/exp-tablet.jpg   1x
                                                                                          
                                                                                          " media="(min-width: 768px)" />
                                                                        
                                                                        <source srcset="
                                                                                            ./images/exp-mobile.jpg    1x
                                                                                        
                                                                                          " media="(max-width: 767px)" />
                                                                        <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                    </picture>
                                                                </a>
                                                                </li> <li class="card">
           
                                                                    <a href="" >
                                                                        <picture>
                                                                            <source srcset="./images/exp-desk.jpg    1x
                                                                                              
                                                                                              " media="(min-width: 1200px)" />
                                                                             <source srcset="
                                                                                                ./images/exp-tablet.jpg   1x
                                                                                              
                                                                                              " media="(min-width: 768px)" />
                                                                            
                                                                            <source srcset="
                                                                                                ./images/exp-mobile.jpg    1x
                                                                                            
                                                                                              " media="(max-width: 767px)" />
                                                                            <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                        </picture>
                                                                    </a>
                                                                    </li> <li class="card">
           
                                                                        <a href="" >
                                                                            <picture>
                                                                                <source srcset="./images/exp-desk.jpg    1x
                                                                                                  
                                                                                                  " media="(min-width: 1200px)" />
                                                                                 <source srcset="
                                                                                                    ./images/exp-tablet.jpg   1x
                                                                                                  
                                                                                                  " media="(min-width: 768px)" />
                                                                                
                                                                                <source srcset="
                                                                                                    ./images/exp-mobile.jpg    1x
                                                                                                
                                                                                                  " media="(max-width: 767px)" />
                                                                                <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                            </picture>
                                                                        </a>
                                                                        </li> <li class="card">
           
                                                                            <a href="" >
                                                                                <picture>
                                                                                    <source srcset="./images/exp-desk.jpg    1x
                                                                                                      
                                                                                                      " media="(min-width: 1200px)" />
                                                                                     <source srcset="
                                                                                                        ./images/exp-tablet.jpg   1x
                                                                                                      
                                                                                                      " media="(min-width: 768px)" />
                                                                                    
                                                                                    <source srcset="
                                                                                                        ./images/exp-mobile.jpg    1x
                                                                                                    
                                                                                                      " media="(max-width: 767px)" />
                                                                                    <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                                </picture>
                                                                            </a>
                                                                            </li> <li class="card">
           
                                                                                <a href="" >
                                                                                    <picture>
                                                                                        <source srcset="./images/exp-desk.jpg    1x
                                                                                                          
                                                                                                          " media="(min-width: 1200px)" />
                                                                                         <source srcset="
                                                                                                            ./images/exp-tablet.jpg   1x
                                                                                                          
                                                                                                          " media="(min-width: 768px)" />
                                                                                        
                                                                                        <source srcset="
                                                                                                            ./images/exp-mobile.jpg    1x
                                                                                                        
                                                                                                          " media="(max-width: 767px)" />
                                                                                        <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                                    </picture>
                                                                                </a>
                                                                                </li> <li class="card">
           
                                                                                    <a href="" >
                                                                                        <picture>
                                                                                            <source srcset="./images/exp-desk.jpg    1x
                                                                                                              
                                                                                                              " media="(min-width: 1200px)" />
                                                                                             <source srcset="
                                                                                                                ./images/exp-tablet.jpg   1x
                                                                                                              
                                                                                                              " media="(min-width: 768px)" />
                                                                                            
                                                                                            <source srcset="
                                                                                                                ./images/exp-mobile.jpg    1x
                                                                                                            
                                                                                                              " media="(max-width: 767px)" />
                                                                                            <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                                        </picture>
                                                                                    </a>
                                                                                    </li> <li class="card">
           
                                                                                        <a href="" >
                                                                                            <picture>
                                                                                                <source srcset="./images/exp-desk.jpg    1x
                                                                                                                  
                                                                                                                  " media="(min-width: 1200px)" />
                                                                                                 <source srcset="
                                                                                                                    ./images/exp-tablet.jpg   1x
                                                                                                                  
                                                                                                                  " media="(min-width: 768px)" />
                                                                                                
                                                                                                <source srcset="
                                                                                                                    ./images/exp-mobile.jpg    1x
                                                                                                                
                                                                                                                  " media="(max-width: 767px)" />
                                                                                                <img src="./images/exp-desk.jpg " alt="Примеры работ 1" />
                                                                                            </picture>
                                                                                        </a>
                                                                                        </li>

    </ul>
</div>
</section>