<section class="main-section general">
  <h1>ЭТО ГЛАВНАЯ</h1>
  <div class="container">
    <ul class="gallery main-container js-main-container">
      <!-- ожидает список с классом card -->
    </ul>

    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>

<section class="main-section library is-hidden">
  <h2>ЭТО БИБЛИОТЕКА</h2>
  <h2>БИБЛИОТЕКА ПУСТАЯ</h2>
  <div class="container">
    <ul class="gallery main-container js-main-container">
      <!-- ожидает список с классом card -->
    </ul>

    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>
<div class="loader">Loading...</div>
