<article class="modal-teammates">
    <div class="backdrop-team backdrop--is-hidden" data-modal-team>
        <div class="modal-team">
            <button class="modal-team__btn-close" data-modal-team-close>
                <svg class="modal-team__icon-close" width="14" height="14">
                    <use href="./images/close.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="gallery">
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Aleksandr</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Kyiv
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Anatolij</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Tokmak
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/5iGVofFc0mCr8aJYsVICm42ThIu.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Hanna</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Kharkiv
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <!-- <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Marija</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Lviv
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Pavel</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Kharkiv
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Vasyl</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Nemyriv
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Vitalij</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Odesa
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li>
                <li class="gallery__item">
                    <div class="gallery__image-wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg" alt="developer photo">
                    </div>
                    <p class="gallery__info-name">Vovka</p>
                    <ul class="gallery__info-genre">
                        <li class="gallery__info-item">
                            Dnepr
                        </li>
                        <li class="gallery__info-item gallery__date">
                            | 1900
                        </li>
                        <li class="gallery__info-item gallery__info-rating">10</li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
    <script src="./js/modalTeam.js"></script>
</article>