<article class="modal-film-detail">
  <!-- Модалка -->
  <div class="backdrop backdrop--is-hidden" data-modal>
    <div class="modal">
      <button class="modal__btn-close" data-modal-close>
        <svg class="modal__icon-close" width="14" height="14">
          <use href="./images/close.svg#icon-close"></use>
        </svg>
      </button>
      <div class="film-detail">
        <div class="film-detail__image-container">
          <img class="film-detail__image" src="./images/film-image.png" alt="Название фильма" />
        </div>
        <div class="film-detail__content-container">
          <h2 class="film-detail_title">A FISTFUL OF LEAD</h2>
          <div class="film-detail__statistics">
            <div class="film-detail__filds">
              <span class="film-detail__vote-fild">Vote / Votes</span>
              <span class="film-detail__popularity-fild">Popularity</span>
              <span class="film-detail__original-title-fild">Original Title</span>
              <span class="film-detail__genre-fild">Genre</span>
            </div>
            <div class="film-detail__values">
              <span class="film-detail__vote-value">
                <span class="film-detail__values--orange">7.3</span> /
                <span class="film-detail__values--black">1260</span>
              </span>
              <span class="film-detail__popularity-value film-detail__values--black">100.2</span>
              <span class="film-detail__original-title-value film-detail__values--black"
                >A FISTFUL OF LEAD</span
              >
              <span class="film-detail__genre-value film-detail__values--black">Western</span>
            </div>
          </div>
          <h3 class="film-detail__about">About</h3>
          <div class="film-detail__description">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
            and the other three escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were planning to hit the very
            same bank! As tensions rise, things go from bad to worse as they realise the bags of
            gold are filled with lead... they’ve been double crossed – but by who and how?
          </div>
          <div class="film-details__buttons">
            <button class="film-details__buttons-add-to-watched">add to Watched</button>
            <button class="film-details__buttons-add-to-queue">add to queue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Скрипт -->
  <script src="./js/modal.js"></script>
  <!-- Меню -->
</article>
