<article class="modal-teammates">
    <div class="backdrop-team backdrop--is-hidden" data-modal-team>
        <div class="modal-team">
            <button class="modal-team__btn-close" data-modal-team-close>
                <svg class="modal-team__icon-close" width="14" height="14">
                    <use href="./images/close.svg#icon-close"></use>
                </svg>
            </button>
            <h1 class="modal-team__header">Our amazing team</h1>
            <ul class="modal-team__list">
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/M7SUK85sKjaStg4TKhlAVyGlz3.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Pavel</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Kharkiv
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Team Lead
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/Hostess27">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/5iGVofFc0mCr8aJYsVICm42ThIu.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Hanna</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Kharkiv
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Scrum Master
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/Ann-DevCommit">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/iUgygt3fscRoKWCV1d0C7FbM9TP.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Aleksandr</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Kyiv
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Developer
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/AleksandrNebesnyi">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/jKuDyqx7jrjiR9cDzB5pxzhJAdv.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Anatolij</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Tokmak
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Developer
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/AnatoliyBeychuk">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/aKx1ARwG55zZ0GpRvU2WrGrCG9o.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Marija</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Lviv
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Developer
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/MariiaYaremko">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/17siH6wJRQ2jZiqz9BWUhy1UtZ.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Vasyl</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Nemyriv
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Developer
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/Vasia911119">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/xmbU4JTUm8rsdtn7Y3Fcm30GpeT.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Vitalij</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Odesa
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Developer
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/VitaliiMoskalyk">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="modal-team__item">
                    <div class="modal-team__wrapper">
                        <img src="https://image.tmdb.org/t/p/w500/6vcDalR50RWa309vBH1NLmG2rjQ.jpg" alt="developer photo">
                    </div>
                    <div class="modal-team__bio">
                        <div class="modal-team__desk">
                            <p class="modal-team__name">Volodymyr</p>
                            <ul class="modal-team__datails">
                                <li class="modal-team__element">
                                    Dnepr
                                </li>
                                <li class="modal-team__element modal-team__work">
                                    <span class="modal-team__separator">|</span>Developer
                                </li>
                            </ul>
                        </div>
                        <div class="modal-team__git">
                            <a href="https://github.com/Vovka21">
                                <svg class="modal-team__icon-git" width="30" height="30">
                                    <use href="./images/github.svg#icon-github"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </li>
              </ul>
            </div>
            <div class="modal-team__git">
              <svg class="modal-team__icon-git" width="30" height="30">
                <use href="./images/github.svg#icon-github"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src="./js/modalTeam.js"></script>
</article>
