<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY LIBRARY</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header__link-menu">
        <nav class="header__list-menu">
          <ul class="menu-nav">
            <li class="menu-nav__item">
              <a href="../index.html" class="menu-nav__link menu-nav__studio"> HOME </a>
            </li>
            <li class="menu-nav__item">
              <a href="./my-library.html" class="menu-nav__link"> MY LIBRARY </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="main-section">
        <div class="container">
          <ul class="list-library main-container">
            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>

            <li class="gallery__item">
              <div class="gallery__image-wrapper">
                <img src="../images/film-image.png" alt="" />
              </div>
              <p class="gallery__info-name">Film Name</p>

              <ul class="gallery__info-genre">
                <li class="gallery__info-item">Genre Film</li>
                <li class="gallery__info-item gallery__date">| Year Film</li>
                <li class="gallery__info-item gallery__info-rating">10.0</li>
              </ul>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer></footer>

    <script src="../index.js"></script>
  </body>
</html>
