<!-- SpinnerV1 -->
<div class="loader">
    <div class="inner visually-hidden one"></div>
    <div class="inner visually-hidden two"></div>
    <div class="inner visually-hidden three"></div>
</div>

<!-- SpinnerV2 -->
<div class="spiner-container">
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
    <div class="block visually-hidden"></div>
</div>

<!-- SpinnerV3 -->
<div class="spin-wrapper">
    <div class="spinnerV3 visually-hidden">
    </div>
</div>

<!-- SpinnerV4 -->
<div class="spinnerV4 visually-hidden">Loading...</div>

<!-- SpinnerV5 -->
<div class="center">
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
    <div class="wave visually-hidden"></div>
</div>

<!-- SpinnerV6 -->
<div class="ring visually-hidden">Loading
    <span class="spV6Box"></span>
</div>

<!-- SpinnerV7 -->
<div class="no-freeze-spinner visually-hidden">
    <div id="no-freeze-spinner">
        <div>
            <i class="material-icons">
                account_circle
            </i>
            <i class="material-icons">
                home
            </i>
            <i class="material-icons">
                work
            </i>
            <div>
            </div>
        </div>
    </div>
</div>