<section class="main-section">
  <img class="user-registration" />
  <form id="form-registration" class="visually-hidden form-registration">
    <div class="form__position">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input
        placeholder="Email address"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />

      <label for="exampleInputPassword1" class="form-label"></label>
      <input
        placeholder="Password"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
      />
      <button type="submit" class="button button--white signIn">Sign In</button>
      <button type="submit" class="button button--white register">Register</button>
    </div>
  </form>
</section>
