::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 0.25px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  box-shadow: 0px 0px 0px #000 inset;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 0px;
  background-color: $theme-orange;
  background-image: url('../images/scroll.png');
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 0.25px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 0.25px;
  @media screen and (min-width: 1024px) {
    width: 10px;
  }
}
