.user-registration {
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 20px;
  cursor: pointer;
  @media screen and (max-width: 350px) {
    top: 5px;
    right: 15px;
  }
}

.form-registration {
  position: absolute;
  top: 30px;
  right: 1px;
}

.form__position {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  width: 310px;
  z-index: 3;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: $background-footer-pagination;
  background-clip: padding-box;
  border: 2px solid $theme-orange;
  border-radius: 0.5rem;
  margin: 1px;
}

.signIn,
.register {
  max-width: 80px;
  background-color: rgba(26, 24, 24, 0.986);
}
