.user-registration {
  position: absolute;
  top: 45px;
  right: 15px;
  cursor: pointer;
}

.form-registration {
  position: absolute;
  top: 75px;
  right: 20px;
}

.form__position {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $black;
  background-color: $background-footer-pagination;
  background-clip: padding-box;
  border: 2px solid $theme-orange;
  border-radius: 0.5rem;
  margin: 1px;
}

.signIn,
.register {
  max-width: 80px;
  background-color: rgba(26, 24, 24, 0.986);
}
